<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Agregar Producto</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/agregar.css') }}"/>
        <script src="{{ url_for('static', filename='js/agregar-producto.js') }}"></script>
    </head>
    <body>
      <h1>Formulario de agregación de productos.</h1>
      <div id="val-box" hidden>
        <i id="val-msg"></i>
        <ul id="val-list"></ul>
      </div>
      <form id="formulario" name="formulario" method="post" action ="{{url_for('agregarProducto')}}" enctype="multipart/form-data">
        <label for="tipo-producto">Tipo producto:</label><br>
        <select id="tipo-producto" name="tipo-producto" size=1 
        onfocus='this.size=3' onblur='this.size=1' 
        onchange='this.size=1; this.blur(); setFrutaOrVerdura(this.value);'>
          <option value="0">Seleccionar tipo de producto</option>
          <option value="1">Fruta</option>
          <option value="2">Verdura</option>
        </select>

        <label for="producto">Tipo Producto: </label>
        <select id="producto" onchange="showSelectedTipoProducto()">
          <option value="" selected disabled>Seleccione un producto</option>
        </select><br>

        <ul id="selectedProducto">

        </ul><br>

        <input type="hidden" id="selectedProductosInput" name="productos"><br>

        <label for="descripcion">Descripción:</label><br>
        <textarea cols="30" rows="3" id="descripcion" name="descripcion"></textarea><br>
        
        <label for="fotos">Fotos de productos:</label><br>
        <input type="file" id="fotos" name="fotos" multiple accept="image/*"><br>
        
        <label for="region">Region:</label>
        <select id="region" name="region">
          <option value="" selected disabled>Selecciona una región</option>
        </select><br>
        
        <label for="comuna">Comuna: </label>
        <select id="comuna" name="comuna">
          <option value="" selected disabled>Selecciona una comuna</option>
        </select><br>

        <label for="nombre">Nombre productor:</label><br>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre"><br>
        
        <label for="mail">Email productor:</label><br>
        <input type="text" name="mail" id="mail" placeholder="mail@dominio.com"><br>
        
        <label for="celular">Número celular productor:</label><br>
        <input type="text" name="celular" id="celular" placeholder="+569 xxxx xxxx"><br>
        
        <button id="submit-btn" type="button">Agregar Producto(s)</button>
      </form><br>
      <div id = "confirmation" class="confirmation-buttons" hidden>
        <div>Confirmar Registro</div>
        <button id="confirmation-button" onclick = "showAlert()">Si, estoy seguro</button>
        <button onclick = "cancelRegistration()">No, volver al formulario</button>
      </div>
      <a class="a1" href="{{ url_for('index') }}"> Volver a la portada. </a>
    </body>
</html>