body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: linear-gradient(to top, rgba(0,35,98,1),
	rgba(50,11,135,1), rgba(153,35,61,1));
}

#empty-top {
	padding: 1%;
}

#barra {
	background-color: white;
	overflow: hidden;
}

#barra a {
	float: left;
	text-align: center;
	padding: 3% 3%;
	text-decoration: none;
	color: black;
	font-size: 1.2vw;
	display: block;
	font-family: Arial;
}

#barra a:hover {
	background-color: rgba(80,80,80,1);
	color: white;
}

#barra img {
	float: left;
	height: 5%;
	width: 7%;
	padding: 1% 5%;
}

#indices {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4vw;
	color: white;
	text-align: center;
	font-family: Arial;
}

#Contenido img {
	float: right;
	height: 40%;
	width: 39%;
}

#Contenido p {
	float: left;
	text-align: center;
	padding-left: 10%;
	font-size: 1.5vw;
	color: white;
}