/* Estilos para los botones */
.botones {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Espacio superior para separar los botones del borde superior de la página */
}

button {
    padding: 10px 20px; /* Ajustar el espaciado dentro de los botones */
    margin: 0 10px; /* Agregar espaciado entre los botones */
    border: none; /* Quitar el borde predeterminado de los botones */
    border-radius: 5px; /* Añadir esquinas redondeadas a los botones */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambiar el cursor al pasar sobre los botones */
    transition: background-color 0.3s; /* Efecto de transición suave al cambiar el color de fondo */
}

button:hover {
    background-color: #0056b3; /* Cambiar el color de fondo al pasar el mouse sobre los botones */
}

