body {
	margin: 0;
    padding: 0;
    background-color: rgb(207, 195, 195);
}

table {
	background-color: rgb(245, 245, 220);
	border: solid;
    border-color: rgb(0, 0, 0);
}

th {
	border: solid 2px;
    padding: 1% 1%;
	text-align: center;
    width: 120px;
}

td {
    border: solid 2px;
	text-align: left;
}

ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-family: Arial;
	color: white;
	font-weight: bold;
	text-decoration: none;
	background-color: rgb(134, 188, 166);
    width: 33%;
	padding: 0.8% 0.8%;
    border: solid;
    border-color: rgb(0, 0, 0);
}

.a1 {
	font-family: Arial;
	color: white;
	font-weight: bold;
	text-decoration: none;
	background-color: rgb(134, 188, 166);
	padding: 0.8% 0.8%;
	margin-left: 11.5%;
    border: solid;
    border-color: rgb(0, 0, 0);
}